body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.card {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    border: 2px solid rgb(57, 190, 239);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
    padding: 10px 15px;
    font-weight: bold;
}

.card-body {
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-secondary {
    background-color: #6c757d;
    color: #fff;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover,
.btn-secondary:hover {
    opacity: 0.8;
}

/* Styles for logo container */

.logo-card {
    background-color: cyan;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px; /* Optional: Add border radius to match card */
}

.logo {
    max-width: 50%; /* Adjust the max-width as needed */
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Add this style to remove underline from anchor tag */
.btn-secondary.cancel-link {
    text-decoration: none; /* Remove underline */
}