:root{
    --maincolor: rgb(57, 190, 239);
}

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.container {
    width: 50%;
    border: 2px solid var(--maincolor);
    border-radius: 40px;
}

.card-header {
    background-color: var(--maincolor);
    color: white;
    text-align: center;
    padding: 10px 0;
}

.card-body {
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 2px solid var(--maincolor);
    border-radius: 20px;
    outline: none;
}

.invalid-feedback {
    color: red;
}

.btn-primary {
    width: 100%;
    padding: 10px;
    background-color: var(--maincolor);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
}

.btn-primary:hover {
    background-color: #369;
}

@media only screen and (max-width: 800px) {
    .container {
        width: 90%;
        border-radius: 0;
    }
}
